In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('./data/metabric.csv') # Metabric Cancer Data

In [3]:
df.head()

,Age at Diagnosis,Type of Breast Surgery,Cancer Type,Chemotherapy,Hormone Therapy,Lymph nodes examined positive,Mutation Count,Nottingham prognostic index,Overall Survival (Months),Overall Survival Status,Radio Therapy,TMB (nonsynonymous),Tumor Size,Tumor Stage
0,43.19,BREAST CONSERVING,Breast Cancer,NO,YES,0.0,2.0,4.020,84.633333,0:LIVING,YES,2.615035,10.0,1.0
1,48.87,MASTECTOMY,Breast Cancer,YES,YES,1.0,2.0,4.030,163.700000,1:DECEASED,NO,2.615035,15.0,2.0
2,47.68,MASTECTOMY,Breast Cancer,YES,YES,3.0,1.0,4.050,164.933333,0:LIVING,YES,1.307518,25.0,2.0
3,76.97,MASTECTOMY,Breast Cancer,YES,YES,8.0,2.0,6.080,41.366667,1:DECEASED,YES,2.615035,40.0,2.0
4,78.77,MASTECTOMY,Breast Cancer,NO,YES,0.0,4.0,4.062,7.800000,1:DECEASED,YES,5.230071,31.0,4.0

# ECDF [Naive Double Loops Implementation]

In [ ]:
x = df['Age at Diagnosis']

# Naive double loops
def L(x):
    Z = np.sort(x.unique()) # Extract and sort unique values for x
    L = np.zeros((len(Z),len(x)))
    for j in range(len(Z)):
        for i in range(len(x)):
            L[j,i] = (x[i] <= Z[j])
    return L

# x = df['Age at Diagnosis']

In [6]:
x

0       43.19
1       48.87
2       47.68
3       76.97
4       78.77
        ...
1338    70.65
1339    75.62
1340    52.84
1341    48.59
1342    63.20
Name: Age at Diagnosis, Length: 1343, dtype: float64

# ECDF Computation for the Age at Diagnosis Column

In [5]:
L(x)

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.]], shape=(1167, 1343))